{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация | Учет полезного времени</title>
    <link rel="stylesheet" href="{% static 'styles/users.css'%}">
    <link rel="stylesheet" href="{% static 'styles/notification.css' %}">
    {% include "includes/notification.html" %}
</head>
<body>
    <div class="auth-container">  
          
        <div class="auth-content">
            <div class="auth-left">
                <div class="logo">
                    <span>Pr</span>
                    <svg width="36" height="40" viewBox="0 0 14 20" color="#2d268c" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 19H10M7 1C3.68629 1 1 3.68629 1 7C1 8.2145 1.36084 9.34472 1.98117 10.2893C2.93507 11.7418 3.41161 12.4676 3.47352 12.5761C4.02428 13.541 3.92287 13.2007 3.99219 14.3096C3.99998 14.4342 4 14.6229 4 15C4 15.5523 4.44772 16 5 16L9 16C9.55229 16 10 15.5523 10 15C10 14.6229 10 14.4342 10.0078 14.3096C10.0771 13.2007 9.97511 13.541 10.5259 12.5761C10.5878 12.4676 11.0651 11.7418 12.019 10.2893C12.6394 9.34472 13.0002 8.2145 13.0002 7C13.0002 3.68629 10.3137 1 7 1Z" stroke="#2D268C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>ducti</span>
                </div>
                
                <h1 class="auth-title">Начните свой путь</h1>
                <p class="auth-subtitle">Создайте аккаунт для отслеживания вашего продуктивного времени</p>
                
                <form action="{% url "users:registration" %}" class="auth-form" method="post">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <input type="text" name="first_name" class="auth-input"
                        value="{% if form.first_name.value %}{{ form.first_name.value}}{% endif %}"
                        placeholder="Имя" required>
                        {% if form.first_name.errors %}
                        <div class="alert-dismissible">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group ">
                        <input type="text" name="username" class="auth-input"
                        value="{% if form.username.value %}{{ form.username.value}}{% endif %}"
                        placeholder="Логин" required>
                        {% if form.username.errors %}
                        <div class="alert-dismissible">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        <input type="email" name="email" class="auth-input"
                        value="{% if form.email.value %}{{ form.email.value}}{% endif %}"
                        placeholder="Электронная почта" required>
                        {% if form.email.errors %}
                        <div class="alert-dismissible">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        <input type="password" name="password1" class="auth-input"
                        value="{% if form.password1.value %}{{ form.password1.value}}{% endif %}"
                        placeholder="Пароль" required>
                        {% if form.password1.errors %}
                        <div class="alert-dismissible">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    
                    <div class="form-group form-group-full">
                        <input type="password" name="password2" class="auth-input" 
                        value="{% if form.password2.value %}{{ form.password2.value}}{% endif %}"
                        placeholder="Подтвердите пароль" required>
                        {% if form.password2.errors %}
                        <div class="alert-dismissible">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                    
                    <button type="submit" class="auth-button form-group-full">
                        <span>Создать аккаунт</span>
                    </button>

                    <label class="reg-link">
                        <input type="checkbox" name="consent" required> Я согласен на обработку персональных данных в соответствии с <a href="/privacy-policy">Политикой конфиденциальности</a>
                    </label>
                </form>
                
                <div class="auth-links">
                    <p class="auth-link">
                        Уже есть аккаунт? 
                        <a href="{% url 'users:login' %}" class="auth-link-accent">Войти</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

